.news-section {
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.news-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.news-box {
  background-color: #efefef;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: left;
  padding: 1em;
  margin: 1em;

  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}

.info-news-box {
  padding-left: 1em;
  padding-right: 1em;
}

.news-image {
  max-width: 752px;
  width: 100%;
  height: auto;
}
