.news-section {
  padding: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.news-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.news-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #efefef;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: left;
  padding: 1em;
  margin-bottom: 1em;

  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}

.info-news-box {
  padding-left: 1em;
  padding-right: 1em;
}

.news-image {
  width: 712px;
  height: 400px;
}

@media (max-width: 1024px) {
  .news-box {
    width: 75%;
  }
  .news-image {
    width: 760px;
    height: 428px;
  }
}

@media (max-width: 768px) {
  .news-box {
    width: 75%;
  }
  .news-image {
    width: 560px;
    height: 315px;
  }
}

@media (max-width: 425px) {
  .news-box {
    width: 75%;
  }
  .news-image {
    width: 320px;
    height: 180px;
  }
}

@media (max-width: 375px) {
  .news-box {
    width: 75%;
  }
  .news-image {
    width: 240px;
    height: 135px;
  }
}

@media (max-width: 1024px) {
  .news-box {
    flex-direction: column;
  }
}
