.solutions-section {
  position: relative;
  display: flex;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  color: white;
  overflow: hidden;
  flex-direction: column;
}
.solutions-section p {
  margin-left: 10em;
  margin-right: 10em;
}
.solutions-section .light {
  color: #111414;
}
@media (max-width: 1024px) {
  .solutions-section {
    flex-direction: column;
    margin: 2em;
    font-size: 0.75rem;
  }
  .solutions-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (max-width: 768px) {
  .solutions-section {
    flex-direction: column;
    margin: 2em;
    font-size: 0.7rem;
  }
  .solutions-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (max-width: 425px) {
  .solutions-section {
    flex-direction: column;
    margin: 2em;
    font-size: 0.6rem;
  }
  .solutions-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (max-width: 320px) {
  .solutions-section {
    flex-direction: column;
    margin: 2em;
    font-size: 0.4rem;
  }
  .solutions-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}
