.solutions-section {
  position: relative;
  display: flex;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 10rem;
  justify-content: center;
  color: white;
  overflow: hidden;
  flex-direction: column;
}
.solutions-section p {
  margin-top: 5em;
  margin-left: 20em;
  margin-right: 20em;
  margin-bottom: 5em;
}
.solutions-section .light {
  color: #111414;
}
.call-to-action-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.call-to-action-section-col-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding-right: 5em;
  padding-left: 5em;
}
.call-to-action-section-col-right {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding-right: 10em;
}
.call-to-action-section-col-right button {
  color: white;
  background-color: coral;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 1em;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}
.call-to-action-section p {
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: whitesmoke;
  padding: 2em;
  border-radius: 1em;
  margin-right: 5em;
}
.formElement {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.formElement label {
  color: black;
}
.formElement input {
  margin-top: 0.5em;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 1em;
  text-decoration: none;
  font-size: 0.75em;
  text-align: left;
}
.formElement textarea {
  margin-top: 0.5em;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 1em;
  text-decoration: none;
  font-size: 0.75em;
  text-align: left;
}
@media (max-width: 1024px) {
  .solutions-section {
    flex-direction: column;
    margin: 2em;
    font-size: 0.75rem;
  }
  .solutions-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (max-width: 768px) {
  .solutions-section {
    flex-direction: column;
    margin: 2em;
    font-size: 0.7rem;
  }
  .solutions-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (max-width: 425px) {
  .solutions-section {
    flex-direction: column;
    margin: 2em;
    font-size: 0.6rem;
  }
  .solutions-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (max-width: 320px) {
  .solutions-section {
    flex-direction: column;
    margin: 2em;
    font-size: 0.4rem;
  }
  .solutions-section p {
    margin-left: 1em;
    margin-right: 1em;
  }
}
