/* src/components/Implementation.css */

.problem-section {
  position: relative;
  background-color: #111414;
  color: #efefef;
  padding: 50px 5%;
}

.problem-section.light {
  background-color: #efefef;
  color: #111414;
}

.problem-content2 {
  display: flex;
  text-align: right;
  margin: 10px;
  padding: 20px;
  align-items: center;
}

/* Add this media query */
@media (max-width: 1024px) {
  .problem-content2 {
    flex-direction: column-reverse;
    text-align: left;
  }

  .problem-content2 img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .problem-section {
    padding: 50px 2%;
  }

  .problem-content2 {
    flex-direction: column-reverse;
    font-size: 0.95em;
  }

  .problem-content2 img {
    width: 100%;
  }
  .problem-content2 p {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
  }
  .problem-content2 h1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
  }
}
@media (max-width: 425px) {
  .problem-content2 {
    font-size: 0.75em;
    width: 90%;
    overflow: hidden;
    text-align: left;
    margin-left: auto; /* Add this line */
    margin-right: auto; /* Add this line */
  }
  .problem-content2 img {
    width: 110%;
  }
  .problem-content2 p {
    padding-left: 20px;
    padding-right: 20px;
    width: 85%;
  }
  .problem-content2 h1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 85%;
  }
}
.problem-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 30px 30px;
  z-index: 1;
}

.problem-content2 h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
